.portafolio {

  --minInlineSizeContainer: 20rem;
  --maxInlineSizeContainer: 100%;
  --minBlockSize: 13rem;
  --maxBlockSize: auto;
    display: grid;
    grid-template-columns:repeat(1, minmax(var(--minInlineSizeContainer), var(--maxInlineSizeContainer)) 13rem);
    grid-template-rows: repeat(1, minmax(var(--minBlockSize), var(--maxBlockSize)));
    grid-template-areas: "images texto";
    margin-block-start: 4rem;
}



.portafolio p {
  white-space: pre-line;
  font-weight: 100;
  text-align: start;
}

.texto.fokker {
  margin-inline-start: -130px;
}

.portafolio-test img {
  line-height: 70px;
  user-select: none;
  pointer-events: none;
}


.texto {

  width: 270px;
  height: 2px;
  max-inline-size: 200px;
  max-block-size: 300px;
  line-height: .8rem;
}


