.portafolio-test img {
  line-height: 70px;
  user-select: none;
  pointer-events: none;
}

.images img {
  margin: 0;
  outline: .4rem solid #6A6262;
  padding: 0;
  inline-size: 25rem;
  block-size: 24.5rem;
  line-height: 70px;
}

#joelImages {
  min-inline-size: 1300px;
  min-block-size:auto;
}

.avion img:nth-child(1) {
  width: 600px;
}


 @media screen and (min-width: 1350px) {
   .images img{
     inline-size: 30%;
   }
 }